@import "tailwindcss";

@layer utilities {
  .animate-gradient-animation {
    background-size: 200% 200%;
    animation: gradient-animation 20s ease-in-out infinite alternate;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
}


@media (min-width: 1600px) {
  .moving-marginLeft {
    margin-left: calc(2.5rem + (100vw - 1600px) / 2.5);
  }
}

@media (min-width: 1600px) {
  .search-bar {
    margin-left: calc(2.5rem + (100vw - 1600px) / 2.5);
  }
}
