@import "tailwindcss";

@layer utilities {
  .animate-gradient-animation {
    background-size: 200% 200%;
    animation: gradient-animation 20s ease-in-out infinite alternate;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
}

@media (min-width: 1600px) {
  .moving-marginLeft {
    margin-left: calc(2.5rem + (100vw - 1600px) / 2.5);
  }
}

.mySwiper {
  width: 100%;
  overflow: hidden; /* Prevents double scrollbars */
}
.mySwiper .swiper-slide {
  width: calc(100% / var(--slides-per-view));
  max-width: 180px; /* Optional: to cap the max width */
  min-width: 120px; /* Optional: to set a minimum width */
}
